body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  background-color: rgb(154, 204, 68);
  color: white;
  text-align: center;
  padding: 30px;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  overflow-y: auto;

}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 15px;
}

.card-title {
  margin: 0;
  font-size: 1.5em;
}

.card-text {
  margin-top: 10px;
  color: #666;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
